.htaccess
README.md
.settings/*
.project
.classpath
.settings.xml
event_monitor-api_gateway/target/*
target/*
event_monitor-api_gateway/.classpath
event_monitor-api_gateway/.settings/*
event_monitor-api_gateway/.project
event_monitor-ms_outlook_scraper/target/*
event_monitor-ms_outlook_scraper/.settings/*
event_monitor-ms_outlook_scraper/.classpath
event_monitor-ms_outlook_scraper/.project
event_monitor-user_registry/.settings/*
event_monitor-user_registry/target/*
event_monitor-user_registry/.classpath
event_monitor-user_registry/.project
event_monitor-ms_calendar_scraper/.settings/*
event_monitor-ms_calendar_scraper/target/*
event_monitor-ms_calendar_scraper/.classpath
event_monitor-ms_calendar_scraper/.project
event_monitor-storage_service/.settings/*
event_monitor-storage_service/target/*
event_monitor-storage_service/.classpath
event_monitor-storage_service/.project